{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:react/recommended", "eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react"],
  "env": {
    "jest": true,
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off"
  }
}
